<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Recipe</title>
  <link rel="icon" type="image/x-icon" href="/css/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

  <style type="text/css" media="screen">
    <!--
    @import url("/css/basic.css");
    -->
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Recipe Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addrecipe">Add recipe</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link" href="/myrecipe">My recipe</a>
        </li>
        <li class="ms-5 me-5"></li>
        <li class="nav-item ms-5">
          <form action="/search" id="search-form" method="post" class="d-flex">
            <input class="form-control rounded" style="width: 20vw" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark ms-4 rounded" id="searchbtn" type="button">Search</button>
            <button class="btn btn-outline-dark ms-4 rounded" data-bs-toggle="modal" data-bs-target="#modalSignin" type="button" id="adv">Advance Search</button>
          </form>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
        </ul>
      </span>
    </div>
  </div>
</nav>
<div class="modal fade modal-lg" style="width: 800px;margin: 0px 550px auto;" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Advance Search</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <ul class="nav nav-pills mb-3 nav-fill" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="pill" href="#ex1-pills-1" role="tab"
               aria-controls="ex1-pills-1" aria-selected="true">Categories</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-2" data-bs-toggle="pill" href="#ex1-pills-2" role="tab"
               aria-controls="ex1-pills-2" aria-selected="false">Meal Type</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-3" data-bs-toggle="pill" href="#ex1-pills-3" role="tab"
               aria-controls="ex1-pills-3" aria-selected="false">Courses</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-4" data-bs-toggle="pill" href="#ex1-pills-4" role="tab"
               aria-controls="ex1-pills-4" aria-selected="false">Sorting</a>
          </li>
        </ul>
        <div class="tab-content" id="ex1-content">
          <div class="tab-pane fade show active row" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">

          </div>
          <div class="tab-pane fade row" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-type[]" value="vegetarian" id="srcvegetarian" />
              <label  for="srcvegetarian">Vegetarian</label>
            </fieldset>
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-type[]" value="non vegetarian" id="srcnon-vegetarian" />
              <label for="srcnon-vegetarian">Non Vegetarian</label>
            </fieldset>
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-type[]" value="eggetarian" id="srceggetarian" />
              <label for="srceggetarian">Eggetarian</label>
            </fieldset>
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-type[]" value="vegan" id="srcvegan" />
              <label for="srcvegan">Vegan</label>
            </fieldset>

          </div>
          <div class="tab-pane fade row" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-meals[]" value="breakfast" id="srcbreakfast" />
              <label  for="srcbreakfast">Breakfast</label>
            </fieldset>
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-meals[]" value="brunch" id="srcbrunch" />
              <label for="srcbrunch">Brunch</label>
            </fieldset>
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-meals[]" value="lunch" id="srclunch" />
              <label for="srclunch">Lunch</label>
            </fieldset>
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-meals[]" value="snack" id="srcsnack" />
              <label for="srcsnack">Snack</label>
            </fieldset>
            <fieldset class="d-inline-block col-3 mx-3">
              <input form="search-form" type="checkbox" name="search-meals[]" value="dinner" id="srcdinner" />
              <label for="srcdinner">Dinner</label>
            </fieldset>
          </div>
          <div class="tab-pane fade row" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
            <fieldset class="d-inline-block col-5 mx-4">
              <input form="search-form" type="radio" name="search-sort" value="title" id="srctitle"/>
              <label for="srctitle">Title (A - Z)</label>
            </fieldset>
            <fieldset class="d-inline-block col-5 mx-4">
              <input form="search-form" type="radio" name="search-sort" value="title desc" id="titleDesc"/>
              <label for="titleDesc">Title (Z - A)</label>
            </fieldset>
            <fieldset class="d-inline-block col-5 mx-4">
              <input form="search-form" type="radio" name="search-sort" value="avg_rating" id="rating"/>
              <label for="rating">Rating (Low To High)</label>
            </fieldset>
            <fieldset class="d-inline-block col-5 mx-4">
              <input form="search-form" type="radio" name="search-sort" value="avg_rating desc" id="ratingDesc"/>
              <label for="ratingDesc">Rating (High To Low)</label>
            </fieldset>
            <fieldset class="d-inline-block col-5 mx-4">
              <input form="search-form" type="radio" name="search-sort" value="recipes.created_at" id="date"/>
              <label for="date">Date (Old To New)</label>
            </fieldset>
            <fieldset class="d-inline-block col-5 mx-4">
              <input form="search-form" type="radio" name="search-sort" value="recipes.created_at desc" id="dateDesc"/>
              <label for="dateDesc">Date (New To Old)</label>
            </fieldset>
          </div>
        </div>
      </div>
      <button class="btn btn-primary w-25 mb-2 mt-0 mx-auto" id="apply-filter">Apply Filter</button>
    </div>
  </div>
</div>
<div class="login-form">
  <form action="/api/recipe/Edit_recipe" method="post" enctype='multipart/form-data'>
    <h2 class="text-center">Edit recipe</h2>
    <input type="hidden" name="id" id="id" value="{{.ID}}">
    <input type="hidden" name="email" id="email" value="{{.email}}">
    <div class="form-group">
      <input type="text" name="title" id="title" class="form-control" placeholder="Recipe Name" required="required">
    </div>
    <div class="form-group">
      <input type="text" name="description" id="description" value="" class="form-control" placeholder="Description" required="required">
    </div>
    <div class="form-group form-control">
      <p class="d-inline">Type :</p>
      <div class="d-inline col-3">
        <input type="radio" class="type" name="type" value="vegetarian" id="vegetarian" />
        <label  for="vegetarian">Vegetarian</label>
        <input type="radio" class="type" name="type" value="non vegetarian" id="non-vegetarian" />
        <label for="non-vegetarian">Non Vegetarian</label>
        <input type="radio" class="type" name="type" value="eggetarian" id="eggetarian" />
        <label for="eggetarian">Eggetarian</label>
        <input type="radio" class="type" name="type" value="vegan" id="vegan" />
        <label for="vegan">Vegan</label>
      </div>
    </div>
    <div class="form-group form-control">
      <p class="d-inline">Meals :</p>
      <div class="d-inline col-3">
        <input type="checkbox" class="meal" name="meals[]" value="breakfast" id="breakfast" />
        <label  for="breakfast">Breakfast</label>
        <input type="checkbox" class="meal" name="meals[]" value="brunch" id="brunch" />
        <label for="brunch">Brunch</label>
        <input type="checkbox" class="meal" name="meals[]" value="lunch" id="lunch" />
        <label for="lunch">Lunch</label>
        <input type="checkbox" class="meal" name="meals[]" value="snack" id="snack" />
        <label for="snack">Snack</label>
        <input type="checkbox" class="meal" name="meals[]" value="dinner" id="dinner" />
        <label for="dinner">Dinner</label>
      </div>
    </div>
    <div class="form-group form-control cate">
      <p class="d-inline">Categories :</p>
      <div class="d-inline " id="categories-holder">
      </div>
    </div>
    <div class="form-group">
      <input type="number" name="cookingtime" id="cookingtime" value="" class="form-control" placeholder="Cooking Time (in minutes)" min="1" max="300" required="required">
    </div>
    <div class="form-group">
      <input type="number" name="serving" id="serving" class="form-control" value="" placeholder="Serves (i.e. : 3 person)" min="1" max="20" required="required">
    </div>
    <div class="form-group form-control">
      <p class="d-inline">Difficulty Level :</p>
      <div class="d-inline col-3">
        <input type="radio" name="difficulty" value="beginner" id="beginner" />
        <label for="beginner">Beginner</label>
        <input type="radio" name="difficulty" value="intermediate" id="intermediate" />
        <label for="intermediate">Intermediate</label>
        <input type="radio" name="difficulty" value="advance" id="advance" />
        <label for="advance">Advance</label>
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="ingredients" id="ingredients" rows="10" placeholder="Ingredients" required="required"></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="cookingsteps" id="cookingsteps" rows="10"  placeholder="Cooking Steps" required="required"></textarea>
    </div>
    <div class="form-group form-control">
      <p class="d-inline">Images of Food : </p>
      <div class="d-inline">
        <input type="file" placeholder="images" id="files" name="files" accept="image/*">
      </div>
    </div>
    <div class="form-group form-control" id="uploadedfile">
      <p class="d-inline">Previously Uploaded File : </p>
      <label for="files" id="filelable">files</label>
    </div>
    <div class="form-group">
      <input class="form-control" type="url" placeholder="Video URL" value="" name="url" id="url" >
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Edit Recipe</button>
    </div>

  </form>
</div>
</body>
<script>
  $("#searchbtn").click(function () {
    if ($("#search").val() !== "") {
      $("#search-form").submit()
    }
  });
  $("#apply-filter").click(function () {
    $("#search-form").submit()
  });
  $("#search-form").bind('keypress keydown keyup', function (e) {
    if (e.keyCode === 13 && $("#search").val() === "") {
      e.preventDefault();
      return false;
    }
  });
  document.querySelector("#cookingtime").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
      evt.preventDefault();
    }
  });
  document.querySelector("#serving").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
      evt.preventDefault();
    }
  });
  $(document).ready(async function() {
    const category = await fetch('http://localhost:8080/api/category/Get_Categories', {
      method: "POST",
    });
    const categories = await category.json();
    var str = ""
    categories.forEach(function (cate) {
      str += `<fieldset class="d-inline-block">`
      str += `<input class="mx-1 categories_checkbox" type="checkbox" name="categories[]" value="` + cate + `" id="` + cate + `" />`
      str += `<label for="` + cate + `">` + cate + ` </label>`
      str += `</fieldset>`
    })
    $("#categories-holder").append(str)
    str = ""
    categories.forEach(function (cate) {
      str += `<fieldset class="d-inline-block col-4">`
      str += `<input form="search-form" class="mx-1" type="checkbox" name="search-categories[]" value="` + cate + `" id="src` + cate + `" />`
      str += `<label for="src` + cate + `">` + cate + ` </label>`
      str += `</fieldset>`
    })
    $("#ex1-pills-1").append(str)
    const id = $("#id").val();
    const response = await fetch('http://localhost:8080/api/recipe/findrecipe/'+id, {
      method: "POST",
    });
    const data = await response.json();
    $("#title").attr("value", data["title"])
    $("#description").val(data["description"]);
    $("#cookingsteps").val(data["cooking_steps"]);
    $("#cookingtime").val(data["cooking_time"]);
    $("#ingredients").val(data["ingredients"]);
    $("#serving").val(data["serving"]);
    $("#url").val(data["video_url"]);
    $("#filelable").text(data["image_url"])

    mealsArr = data["meals"].split(", ")

    mealsArr.forEach(function (meal) {
      $("#"+meal).prop("checked", true);
    })

    $("#"+data["type"]).prop("checked", true);

    $("#"+data["difficulty_level"]).prop("checked", true);

    $("#files").change(function () {
      $("#uploadedfile").addClass("d-none")
    })

    if (data["category"] != "") {
      const arr = data['categories'].split(', ')
      arr.forEach(function (category) {
        const checkboxes = $(".categories_checkbox");
        checkboxes.each(function () {
          if (this.value === category) {
            this.checked = true
          }
        });
      });
    }
  });
</script>
</html>