<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Full Recipe</title>
    <link rel="icon" type="image/x-icon" href="/css/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <style type="text/css" media="screen">
        <!--
        @import url("/css/recipe.css");
        @import url("/css/better-rating.css");
        -->
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Recipe Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addrecipe">Add recipe</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link" href="/myrecipe">My recipe</a>
                </li>
                <li class="ms-5 me-5"></li>
                <li class="nav-item ms-5">
                    <form action="/search" id="search-form" method="post" class="d-flex">
                        <input class="form-control" style="width: 20vw" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark ms-4" id="searchbtn" type="button">Search</button>
                        <button class="btn btn-outline-dark ms-4" data-bs-toggle="modal" data-bs-target="#modalSignin" type="button" id="adv">Advance Search</button>
                    </form>
                </li>
            </ul>
            <span class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
        </ul>
      </span>
        </div>
    </div>
</nav>
<div class="modal fade modal-lg" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Advance Search</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <ul class="nav nav-pills mb-3 nav-fill" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="pill" href="#ex1-pills-1" role="tab"
                           aria-controls="ex1-pills-1" aria-selected="true">Categories</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-2" data-bs-toggle="pill" href="#ex1-pills-2" role="tab"
                           aria-controls="ex1-pills-2" aria-selected="false">Meal Type</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-3" data-bs-toggle="pill" href="#ex1-pills-3" role="tab"
                           aria-controls="ex1-pills-3" aria-selected="false">Courses</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-4" data-bs-toggle="pill" href="#ex1-pills-4" role="tab"
                           aria-controls="ex1-pills-4" aria-selected="false">Sorting</a>
                    </li>
                </ul>
                <div class="tab-content" id="ex1-content">
                    <div class="tab-pane fade show active row" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                    </div>
                    <div class="tab-pane fade row" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-type[]" value="vegetarian" id="vegetarian" />
                            <label  for="vegetarian">Vegetarian</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-type[]" value="non vegetarian" id="non-vegetarian" />
                            <label for="non-vegetarian">Non Vegetarian</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-type[]" value="eggetarian" id="eggetarian" />
                            <label for="eggetarian">Eggetarian</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-type[]" value="vegan" id="vegan" />
                            <label for="vegan">Vegan</label>
                        </fieldset>

                    </div>
                    <div class="tab-pane fade row" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-meals[]" value="breakfast" id="breakfast" />
                            <label  for="breakfast">Breakfast</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-meals[]" value="brunch" id="brunch" />
                            <label for="brunch">Brunch</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-meals[]" value="lunch" id="lunch" />
                            <label for="lunch">Lunch</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-meals[]" value="snack" id="snack" />
                            <label for="snack">Snack</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-3 mx-3">
                            <input form="search-form" type="checkbox" name="search-meals[]" value="dinner" id="dinner" />
                            <label for="dinner">Dinner</label>
                        </fieldset>
                    </div>
                    <div class="tab-pane fade row" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                        <fieldset class="d-inline-block col-5 mx-4">
                            <input form="search-form" type="radio" name="search-sort" value="title" id="title"/>
                            <label for="title">Title (A - Z)</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-5 mx-4">
                            <input form="search-form" type="radio" name="search-sort" value="title desc" id="titleDesc"/>
                            <label for="titleDesc">Title (Z - A)</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-5 mx-4">
                            <input form="search-form" type="radio" name="search-sort" value="avg_rating" id="rating"/>
                            <label for="rating">Rating (Low To High)</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-5 mx-4">
                            <input form="search-form" type="radio" name="search-sort" value="avg_rating desc" id="ratingDesc"/>
                            <label for="ratingDesc">Rating (High To Low)</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-5 mx-4">
                            <input form="search-form" type="radio" name="search-sort" value="recipes.created_at" id="date"/>
                            <label for="date">Date (Old To New)</label>
                        </fieldset>
                        <fieldset class="d-inline-block col-5 mx-4">
                            <input form="search-form" type="radio" name="search-sort" value="recipes.created_at desc" id="dateDesc"/>
                            <label for="dateDesc">Date (New To Old)</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary w-25 mb-2 mt-0 mx-auto" id="apply-filter">Apply Filter</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="album py-4 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div  class="card mb-2 shadow-sm">
                        <img class="mx-auto my-2" width="560" height="315" src="/Upload/{{ .recipe.image_url}}"></img>
                        <div class="card-body">
                            <section class="intro">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body p-0">
                                                    <div class="table-responsive" data-mdb-perfect-scrollbar="true" style="position: relative;">
                                                        <table class="table table-striped mb-0">
                                                            <thead class="bg-info text-center">
                                                            <tr>
                                                                <th class="text-dark" colspan="2" scope="col">{{.recipe.title}}</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td class="w-25">Owner :</td>
                                                                <td class="w-75"><li class="mb-3" title="{{.email_id}}" style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; list-style-type: none">{{.recipe.email_id}}</li></td>
                                                            </tr>
                                                                <tr>
                                                                    <td class="w-25">Description :</td>
                                                                    <td class="w-75">{{.recipe.description}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Average Rating :</td>
                                                                    <td class="w-75">{{.recipe.avg_rating}}/5</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Cooking Time :</td>
                                                                    <td class="w-75">{{.recipe.cooking_time}} Minutes</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Serves :</td>
                                                                    <td class="w-75">{{.recipe.serving}} Person</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Type :</td>
                                                                    <td class="w-75">{{.recipe.type}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Courses :</td>
                                                                    <td class="w-75">{{.recipe.meals}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Categories :</td>
                                                                    <td class="w-75">
                                                                        {{.recipe.categories}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Difficulty Level : </td>
                                                                    <td class="w-75">{{.recipe.difficulty_level}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Ingredients : </td>
                                                                    <td class="w-75" style="white-space: break-spaces;">{{.recipe.ingredients}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="w-25">Cooking Steps : </td>
                                                                    <td class="w-75" id="steps"><p class="w-100" style="white-space: break-spaces;">{{.recipe.cooking_steps}}</p></td>
                                                                </tr>
                                                                <tr id="video-block">
                                                                    <td class="text-center" colspan="2">
                                                                        <iframe width="560" id="video" height="315" src="{{.recipe.video_url}}"></iframe>
                                                                    </td>
                                                                </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <form class="" action="/api/review/Add_review" method="post" id="better-rating-form">
                                                                        <label class="fs-2">Rating</label>
                                                                        <br><br>
                                                                        <div class="rating">
                                                                            <i class="fa fa-star fs-2" data-rate="1"></i>
                                                                            <i class="fa fa-star fs-2" data-rate="2"></i>
                                                                            <i class="fa fa-star fs-2" data-rate="3"></i>
                                                                            <i class="fa fa-star fs-2" data-rate="4"></i>
                                                                            <i class="fa fa-star fs-2" data-rate="5"></i>
                                                                            <input type="hidden" id="rating-count" name="rating-count" value="0">
                                                                        </div>
                                                                        <br>
                                                                        <input type="hidden" id="email" name="email" value="{{.email}}">
                                                                        <input type="hidden" id="recipe_id" name="recipe_id" value="{{.recipe.id}}">
                                                                        <label class="fs-2 w-20">Review</label>
                                                                        <br><br>
                                                                        <div>
                                                                            <textarea class="rounded" name="rate" id="rate" rows="5" required></textarea>
                                                                        </div>
                                                                        <br>
                                                                        <input type="submit" name="submit"/>
                                                                    </form>
                                                                    <div id="rating_display" style="display: none">
                                                                        <label class="fs-2">Rating</label>
                                                                        <br><br>
                                                                        <div id="rating2">
                                                                            <i class="fa fa-star fs-2 star1" data-rate="1"></i>
                                                                            <i class="fa fa-star fs-2 star2" data-rate="2"></i>
                                                                            <i class="fa fa-star fs-2 star3" data-rate="3"></i>
                                                                            <i class="fa fa-star fs-2 star4" data-rate="4"></i>
                                                                            <i class="fa fa-star fs-2 star5" data-rate="5"></i>
                                                                        </div>
                                                                        <br>
                                                                        <label class="fs-2 w-20">Review</label>
                                                                        <br><br>
                                                                        <div>
                                                                            <textarea class="w-100 rounded" name="rate-2" id="rate-2" rows="5" required readonly></textarea>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td id="user_reviews" colspan="2">
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#searchbtn").click(function () {
        if ($("#search").val() !== "") {
            $("#search-form").submit()
        }
    });
    $("#apply-filter").click(function () {
        $("#search-form").submit()
    });
    $("#search-form").bind('keypress keydown keyup', function (e) {
        if (e.keyCode === 13 && $("#search").val() === "") {
            e.preventDefault();
            return false;
        }
    });
    if ($("#video").attr("src") == "") {
        $("#video-block").addClass("d-none")
    }

    $(document).ready(async function() {
        const response = await fetch('http://localhost:8080/api/category/Get_Categories', {
            method: "POST",
        });
        const data = await response.json();
        var str = ""
        data.forEach(function (cate) {
            str += `<fieldset class="d-inline-block col-4">`
            str += `<input form="search-form" class="mx-1" type="checkbox" name="search-categories[]" value="` + cate + `" id="` + cate + `" />`
            str += `<label for="` + cate + `">` + cate + ` </label>`
            str += `</fieldset>`
        })
        $("#ex1-pills-1").append(str)
    });
    $(async function(){
        $('#better-rating-form').betterRating();
        const response = await fetch('http://localhost:8080/api/review/Get_review/'+{{.recipe.id}}, {
            method: "POST",
        });
        const data = await response.json();
        if (data != undefined && data["ID"] !== 0) {
            console.log(await data);
            $('#better-rating-form').addClass("d-none");
            $('#rating_display').css("display", "block");
            $('#rate-2').val(data["comment"])
            // console.log(data["rating"])
            for (let i = 1; i <= data["rating"]; i++) {
                star = ".star"+i
                $(star).addClass("selected")
            }

        } else {
            console.log("not found");
        }
    });
    $(async function(){
        const response = await fetch('http://localhost:8080/api/review/GetAll_review/'+{{.recipe.id}}, {
            method: "POST",
        });
        const data = await response.json();
        if (data.length != 0) {
            str = `<h3>Other User's Reviews</h3>`
            $("#user_reviews").append(str)
            data.forEach(function (rating) {
                str = `<div>
                            <p style="margin: 0">Rating By `
                str += rating['email_id']
                str += `</p>
                        <p style="margin-bottom: 0">`
                for (let i = 0; i < 5; i++) {
                    if (i < rating["rating"]) {
                        str += `<i class="fa fa-star selected" data-rate="` + i + `"></i>`
                    } else {
                        str += `<i class="fa fa-star" data-rate="` + i + `"></i>`
                    }
                }
                str += `</p>
                            <p style="margin-bottom: 0">Review</p>
                            <p style="margin-bottom: 0">
                                <p style="margin-bottom: 0">`
                    str += rating['comment']
                str += `</p>
                            </p>
                        </div>`
                $("#user_reviews").append(str)
                    });
        } else {
            $("#user_reviews").addClass("d-none")
            console.log("not found");
        }
    });

    ;(function($){
        $.fn.extend({
            betterRating: function( options ) {
                /**
                 * @option : wrapper - rating list wrapper div
                 * @option : icon - fontAwesome icon name
                 */
                this.defaultOptions = {
                    wrapper: '#list',
                    icon: 'fa fa-star',
                };
                var settings = $.extend({}, this.defaultOptions, options);
                this.getRating(settings);
                return this.each(function() {
                    var $this = $(this);
                });
            },
            getRating: function(settings) {
                var self = this;
                $('.rating i').on('click', function(){
                    $('#rating-count').val($(this).data('rate'));
                    $(this).parent().find('i:lt(' + ($(this).index() + 1) + ')').addClass('selected');
                });

                $('.rating i').on('mouseover', function(){
                    $(this).parent().children('.rating i').each(function(e){
                        $(this).removeClass('selected');
                    });
                    $(this).parent().find('i:lt(' + ($(this).index() + 1) + ')').addClass('hover');
                }).on('mouseout', function(){
                    $(this).parent().children('.rating i').each(function(e){
                        $(this).removeClass('hover');
                    });
                });
            },
        });
    })(jQuery);

</script>
</body>
</html>